.fullnavbar {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #E5DDF4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .link {
    color: blue;
    font-weight: bolder;
    font-size: larger;
  }

  #profile {
    top: calc(100% + 100px);
  }

  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #E5DDF4;
    border: 1px solid #E5DDF4;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none; 
}
  
  .dropdown-item {
    padding: 0;
    margin:0
  }
  
  .dropdown-item a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    font-size: medium; 
  }
  
  .dropdown-item a:hover,
  .dropdown-item a:active {
    background-color: white; 
    color: white; 
  }

  .dropdown-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4B2E83;
    transition: background-color 0.3s;
    padding: 1rem; 
    font-size:medium
  }
  
  .dropdown-item button:hover,
  .dropdown-item button:active {
    color: white
  }
  
  .nav-items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0%;
  }
  
  .nav-items li {
    margin-right: 1rem;
  }
  
  .nav-items a {
    text-decoration: none;
    color: #333;
  }

  .nav-items a:hover,
  .nav-items a:active {
  background-color: #E5DDF4; 
  color: white; /* White text color on hover/active */
}
  .labels {
    color: #4B2E83;
    margin-left: 40px;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 12px;
  }

  .account {
    color: #4B2E83;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  .account:hover,
  .account:active {
    background-color: #E5DDF4; /* Purple background color on hover/active */
    color: white; /* White text color on hover/active */
  }

  #settings-link {
    background-color: #E5DDF4;
  }

  .labels:hover,
  .labels:active {
    background-color: #E5DDF4; /* Purple background color on hover/active */
    color: white; /* White text color on hover/active */
  }

  .link-dropdown {
    margin-top: 0;
  }

  #profile {
    font-size: 19.2px;
    font-weight: bold;
  }


