.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Items spaced out to the edges */
  padding: 1rem 2rem;
  background-color: #4B2E83; /* Purple background */
}

/* Center the nav items, except for the sign-out button */
.nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center; /* Center the nav-items */
  width: 100%;
}

.nav-items li:not(.signout-link) {
  margin-right: 1rem; /* Spacing between menu items */
}

/* Remove specific margin-right on the last item before the signout button */
.nav-items li:last-child:not(.signout-link) {
  margin-right: 0;
}

/* Style for all links and buttons */
.labels, .nav-items a, .nav-items button {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
  font-weight: normal;
}

/* Hover effect for interactivity */
.labels:hover, .nav-items a:hover, .nav-items button:hover {
  color: #DAA520; /* Deeper gold color for hover */
}

/* General button style */
button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: normal;
}

/* Hover effect for buttons */
button:hover {
  color: #DAA520;
  background-color: #7B6FCF;
  box-shadow: none;
}

/* Remove the blue highlight or box that appears when the button is focused or active */
button:focus, button:active {
  outline: none;
  box-shadow: none;
}

/* Right-align the sign-out button */
.nav-items .signout-link {
  margin-left: auto; /* Push to the far right */
}

/* Style for the sign-out button to match other navigation items */
.nav-items .signout-link button {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  font-size: inherit;
  border: none;
  box-shadow: none;
}

/* Hover effect for the Log Out button specifically */
.nav-items .signout-link button:hover {
  color: white;
  background-color: #7B6FCF;
  box-shadow: none;
}

/* Horizontal line styling */
#horizontal-line {
  height: 5px;
  background-color: #DAA520;
  width: 100%;
}
