@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.expanded-content {
    padding: 10px;
    position: absolute;
}

.h2-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center; 
    white-space: nowrap; 
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 70%;
    right: 10%;
}

#nameDate {
    display: flex;
    align-items: center;
}


.scrollable-container {
    overflow-y: auto; 
    max-height: 200px; 
    margin-right: -10px;
}

.quiz-title {
    font-size: 20px;
    text-align: left;
    margin-right: 40px; 
}

#rsvpbtn {
    background-color: white;
    color: black;
    padding: 0px;
    margin: 0px;

}

.date-time {
    font-size: 20px;
    text-align: center;
}

.tags {
    text-align: left;
    display: flex;
    align-items: center; 
}

.plus-icon {
    margin-left: auto; 
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.horizontal-bar {
    width: 85%;
}

.bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.bar + .expanded-content {
    margin-top: 10px;
}

.bar button {
    background-color: burlywood;
    font-size: 24px; 
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.text-right-bottom {
    margin-left: auto;
    margin-top: 12px;
}
  
.small-text {
    font-size: 12px;
    color: black; 
    text-align: end;
}

.tags {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 12px;
}

h4 {
    margin-left: 2rem;
}

.bi {
    margin-right: 0.5em;
    margin-left: 1em;
}