.create-quiz-panel {
    position: absolute; 
    top: 100px; 
    left: 0;
    box-sizing: border-box;
    overflow-y: auto; 
    max-height: calc(100vh - 100px); 
}

.create-quiz-container {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 45px;
    width: 100%; 
    position: relative; 
}

.create-quiz-title {
    font-size: 1.5em;
    color: black; 
    padding-bottom: 10px; 
    position: sticky; 
    top: 0; 
    background-color: #C9BBE2;
    z-index: 1; 
}

.create-quiz-name {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0; 
    color: #4B2E83;
}


.label-create-quiz {
    display: block; 
    color: white; 
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 20px; 
    font-weight: bold; 
}

.close-btn {
    background-color:#4B2E83;
    color:#C9BBE2;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 15px; 
    top: 15px; 
    z-index: 1050;
}

.close-btn:hover {
    color: #4B2E83; 
    background-color: #C9BBE2;
}

.create-quiz-container form {
    display: flex;
    flex-direction: column;
}

.create-quiz-container label {
    color: black;
    margin-bottom: 0.5rem;
}

.create-quiz-container input,
.create-quiz-container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black; 
    border-radius: 4px;
    background-color: #E5DDF4; 
}

.drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    border: 2px dashed #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.file-input-label {
    background-color: #fff;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.folder-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.file-name {
    flex-grow: 1;
    text-align: center;
    visibility: visible; 
}

.upload-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; 
}

.save-btn {
    background-color: #4B2E83; 
    color: white;
    padding: 10px 30px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem; 
    width: fit-content; 
    transition: background-color 0.3s, color 0.3s; 
}

.save-btn:hover {
    background-color: #E5DDF4; 
    color: #4B2E83; 
}

.success-message {
    color: green;
    text-align: center;
}

@media (max-width: 500px) {
    .create-quiz-container {
        max-width: 95%; 
    }
    
    .drop-zone {
        flex-direction: column;
    }
    
    .upload-btn,
    .save-btn {
        width: 100%; 
    }
}