.create-quiz-panel {
    /* Align the panel to the left side of the screen */
    position: absolute; /* or fixed, depending on your needs */
    top: 100px; /* Adjust as necessary to clear the navbar */
    left: 0;
    box-sizing: border-box;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    max-height: calc(100vh - 100px); /* Adjust based on your layout */
}

.create-quiz-container {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 45px;
    width: 100%; /* Adjust width to fit inside the .create-quiz-panel if necessary */
    position: relative; /* Keep as relative */
}

.create-quiz-title {
    font-size: 1.5em;
    color: black; /* Colour of your title */
    padding-bottom: 10px; /* If you want space below the text */
    position: sticky; /* Keep the title sticky */
    top: 0; /* Stick the title to the top */
    background-color: #C9BBE2; /* Match the container background color */
    z-index: 1; /* Ensure it appears above other content */
}

.create-quiz-name {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the width spans the full container */
    margin: 0; /* Remove any default margin */
    /* Rest of your styles for font size, color, etc. */
    color: #4B2E83;
}


.label-create-quiz {
    display: block; /* Makes it a block element, taking the full width */
    color: white; /* White text color */
    text-align: center; /* Centers the text within the label */
    margin-bottom: 20px; /* Space below the label */
    font-size: 20px; /* Larger font size */
    font-weight: bold; /* Makes the font bold */
}

.close-btn {
    background-color:#4B2E83;
    color:#C9BBE2;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 15px; /* Adjust to align with the right edge of the modal */
    top: 15px; /* Adjust to align with the top edge of the modal */
    z-index: 1050;
}

.close-btn:hover {
    color: #4B2E83; /* Darker purple on hover */
    background-color: #C9BBE2;
}

.create-quiz-container form {
    display: flex;
    flex-direction: column;
}

.create-quiz-container label {
    color: black;
    margin-bottom: 0.5rem;
}

.create-quiz-container input,
.create-quiz-container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black; /* Black border */
    border-radius: 4px;
    background-color: #E5DDF4; /* Light purple background */
}

.drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjusted padding */
    border: 2px dashed #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.file-input-label {
    background-color: #fff;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.folder-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.file-name {
    flex-grow: 1;
    text-align: center;
    /* Optional: Hide the text if it's the default 'Choose a file...' */
    visibility: visible; /* Change to 'hidden' if you want to hide the 'Choose a file...' text */
}

.upload-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; /* Prevents wrapping of text */
}

.save-btn {
    background-color: #4B2E83; /* Primary theme color */
    color: white;
    padding: 10px 30px; /* Padding for a wider button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem; /* Provides space above the save button */
    width: fit-content; /* Auto-adjust width to fit content */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
}

.save-btn:hover {
    background-color: #E5DDF4; /* Light purple on hover */
    color: #4B2E83; /* Dark purple text on hover */
}

/* Success message style */
.success-message {
    color: green;
    text-align: center;
}

/* Responsive design adjustments */
@media (max-width: 500px) {
    .create-quiz-container {
        max-width: 95%; /* Takes full width on smaller screens */
    }
    
    .drop-zone {
        flex-direction: column;
    }
    
    .upload-btn,
    .save-btn {
        width: 100%; /* Full width buttons on smaller screens */
    }
}



