.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh; 
}


body { 
  overflow-y: auto; 
}

.faq-container {
  overflow-y: auto; 
  max-height: 100vh; 
  padding: 20px; 
}


.FAQ-header {
  margin-top: 50px; 
  text-align: center; 
}

.demo-title {
  justify-content: left;
  margin-left: 20px;
  text-align: left;
}

.demoo-title {
  justify-content: left;
  margin-left: 40px;
  text-align: left;
  margin-right: 60px;
}

.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

button {
  background-color: #4B2E83;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}

.FAQ-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 20px; 
}

.bold-list {
  font-weight: bold;
  text-align: left;
  color: #4B2E83;
}

.demo-title h2 {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4B2E83;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.demo-title h2::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px; 
  width: calc(100% + 8px); 
  height: calc(100% + 8px); 
  background-color: #4B2E83;
  border-radius: 20px;
  z-index: -1;
}

.greybox {
  width: 200px;
  height: 100px;
  background-color: #ccc;
}
  