.Home {
    text-align: center;
  }
  
  .Home-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #4B2E83;
  }

  .subheader {
    color: #8A6BC5;
    font-style: italic;
  }

  .demo-title {
    justify-content: left;
  }
  
  button {
    background-color: #4B2E83;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px
  }