.Home {
  text-align: center;
}
.faq-container {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Set maximum height to viewport height */
  padding: 20px; /* Add padding for better aesthetics */
}


.body {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center;
  background-color: #faf7fe;
}

.logo-container {
  flex: 1; /* Take up the remaining space */
}

#logo {
  max-width: 100%; /* Ensure the logo doesn't exceed the container's width */
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4B2E83;
  min-height: calc(100vh - 100px); /* Adjusted to account for the height of the navbar */
  overflow-y: auto; /* Enable vertical scrolling */
  flex: 2; /* Take up 2/3 of the available space */
}

.subheader {
  color: #E5DDF4;
  font-style: italic;
  padding:0;
  margin: 0;
}

.demo-title {
  justify-content: left;
}

button {
  background-color: #4B2E83;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #E5DDF4; /* Slightly darker purple on hover */
  color:#4B2E83
}

.button-container {
  display: flex;
  justify-content: center; /* Align buttons horizontally in the center */
  margin-top: 20px; /* Adjust margin as needed */
}

.button-container button {
  margin: 0 10px; /* Add space between buttons */
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 0
}