.settings-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.settings {
    width: 100%;
    height: 100%;
    padding: 20px;
    
    border-radius: 8px;
}

.setting-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-item label {
    margin-bottom: 5px;
    font-weight: bold;
}



.setting-item input[type="file"] {
    margin-top: 10px;
}

.small-button {
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #4B2E83;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%
}

.save-button {
    padding: 10px 20px;
    background-color: #4B2E83;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 30%;

  
}

.profile-blob {
    width: 40%;
    background-color: #4B2E83;
    padding: 20px;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-blob h2 {
    margin-bottom: 5px;
}

.profile-blob p {
    margin-bottom: 10px;
}

.profile-blob ul {
    list-style: none;
    padding: 0;
}

.profile-blob ul li {
    background-color: #4B2E83;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}